.card-hover {
    /* Define your hover styles here */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  

.card-container {
  height: 250px;
  padding: 0px;
  border-radius: 10px;
  background: linear-gradient(90deg, rgba(253, 228, 165, 0.2), rgba(187, 199, 205, 0.2)),
              linear-gradient(180deg, rgba(253, 228, 165, 0.2), rgba(187, 199, 205, 0.2));
}

.hover-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  position: absolute;
  transform: scale(1);
  transition: transform 0.3s ease;
}

.hover-container:hover .card-image {
  transform: scale(1.1);
}
  
