

<div class="py-4 px-4 mx-0 md:mx-6 lg:mx-4 lg:px-4 flex align-items-center justify-content-between relative lg:static mb-3  " >
            
    <a class="flex align-items-center" href="#">
        <img src="assets/image/landing/logo.jpg" alt="Sakai Logo" height="50" class="mr-0 lg:mr-2">
        <span class="text-900 font-medium text-1xl line-height-3 mr-8">Emmadex Delivery</span>
    </a>

    <a pRipple class="cursor-pointer block lg:hidden text-700" pStyleClass="@next" enterClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
        <i class="pi pi-bars text-4xl"></i>
    </a>
    
    <div class="align-items-center surface-0 flex-grow-1 justify-content-between hidden lg:flex absolute lg:static w-full left-0 px-6 lg:px-0 z-2" style="top:85%">
        <ul class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row cursor-pointer">
            
            <li>
                <a (click)="router.navigate(['/home'])" pRipple class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3">
                    <span>Home</span>
                </a>
            </li>

            <li>
                <a (click)="router.navigate(['/driver'])" pRipple class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3">
                    <span>Driver</span>
                </a>
            </li>
            <li>
                <a (click)="router.navigate(['/driver'])" pRipple class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3">
                    <span>Sender </span>
                </a>
            </li>
            <li>
                <a (click)="router.navigate(['/features'])" pRipple class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3">
                    <span>How it Works</span>
                </a>
            </li>
           

            <li>
                <a (click)="router.navigate(['/contacts'])" pRipple class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3">
                    <span>Contact</span>
                </a>
            </li>

          
          
        </ul>
       
    </div>
</div>




<p-accordion [multiple]="true" [activeIndex]="[0]">
    <p-accordionTab header="Header I">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </p-accordionTab>
    <p-accordionTab header="Header II">
        <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
            ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
        </p>
    </p-accordionTab>
    <p-accordionTab header="Header III">
        <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
            qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
        </p>
    </p-accordionTab>
</p-accordion>


<div class="py-4 px-4 mx-0 mt-8 lg:mx-8 flex border-bluegray-700 flex bg-cyan-700 ">
    <div class="grid justify-content-between  ">
        
        <div class="col-12 md:col-2" style="margin-top:1rem;">
            <a class="flex align-items-center" href="/home">
                <img src="assets/image/landing/logo.jpg"  height="50" class="mr-0 lg:mr-2">
                <span class="text-900 font-medium text-1xl line-height-3 text-white mr-8">Emmadex Delivery</span>
            </a>
        </div>

        <div class="col-12 md:col-10 lg:col-7">
            <div class="grid text-center md:text-left">
                <div class="col-12 md:col-3">
                    <h4 class="font-medium text-2xl line-height-3 mb-3 text-white">Company</h4>
                    <a class="line-height-3 text-xl block cursor-pointer mb-2 text-white">About Us</a>
                    <a class="line-height-3 text-xl block cursor-pointer mb-2 text-white">News</a>
                    <a class="line-height-3 text-xl block cursor-pointer mb-2 text-white">Investor Relations</a>
                    <a class="line-height-3 text-xl block cursor-pointer mb-2 text-white">Careers</a>
                    <a class="line-height-3 text-xl block cursor-pointer text-white">Media Kit</a>
                </div>
                
                <div class="col-12 md:col-3 mt-4 md:mt-0">
                    <h4 class="font-medium text-2xl line-height-3 mb-3 text-white">Resources</h4>
                    <a class="line-height-3 text-xl block cursor-pointer mb-2 text-white">Get Started</a>
                    <a class="line-height-3 text-xl block cursor-pointer mb-2 text-white">Learn</a>
                    <a class="line-height-3 text-xl block cursor-pointer text-white">Case Studies</a>
                </div>

                <div class="col-12 md:col-3 mt-4 md:mt-0">
                    <h4 class="font-medium text-2xl line-height-3 mb-3 text-white">Legal</h4>
                    <a class="line-height-3 text-xl block cursor-pointer mb-2 text-white">Brand Policy</a>
                    <a class="line-height-3 text-xl block cursor-pointer mb-2 text-white">Privacy Policy</a>
                    <a class="line-height-3 text-xl block cursor-pointer text-white">Terms of Service</a>
                </div>

                <div class="col-12 md:col-3 mt-4 md:mt-0">
                    <h4 class="font-medium text-2xl line-height-3 mb-3 text-white">Contact</h4>
                    <a class="line-height-3 text-xl block cursor-pointer mb-2 text-white">Address:</a>
                    <a class="line-height-3 text-xl block cursor-pointer mb-2 text-white">08140004346</a>
                    <a class="line-height-3 text-xl block cursor-pointer text-white">Emmytemmyeli@gmail.com</a>
                </div>

            </div>

        </div>


