
<div [ngClass]="{ header_change: header_variable }"  class="good">


</div>


<div id="scroll-container">
    <div id="scroll-text">This is scrolling text.<div>
</div>


<div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
      </div>
      <div class="flip-card-back">
        <h1>John Doe</h1> 
        <p>Architect & Engineer</p> 
        <p>We love that guy</p>
      </div>
    </div>
</div>

