 

 
<p-galleria [value]="images"   [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '1900px'}"
 [numVisible]="5" [circular]="true" [autoPlay]="true" > 

<ng-template pTemplate="item" let-item>
    <img [src]="item.previewImageSrc" id="autoplay" />
</ng-template>

</p-galleria>


<p-carousel [value]="images" [autoplayInterval]="3000">
    <!-- Carousel content here -->
    <ng-template pTemplate="header">
      <span class="carousel-autoplay-indicator" *ngIf="autoplay">Autoplay Enabled</span>
    </ng-template>
    
  </p-carousel>