

<div class="container">
    <div class="row">

            <div class="col-4" >

                <div *ngIf="currentUser">
                    
                    <h2>User Details</h2>
                    <p><strong>AccountType:</strong> {{ currentUser.accountType }}</p>
                    <p><strong>Name:</strong> {{ currentUser.name }}</p>
                    <p><strong>Email:</strong> {{ currentUser.email }}</p>
                    <p><strong>Phone:</strong> {{ currentUser.phone }}</p>
                    <p><strong>Address:</strong> {{ currentUser.address }}</p>
                    <p><strong>Country:</strong> {{ currentUser.country }}</p>

                  </div>

            </div>

            <div class="col-8">

               <button (click)="logout()">logOut</button>

            </div>

            <p style="color: blue;">{{response}}</p>


    </div>

</div>